.button1{
    background-color: #ac3b61;
    border: none;
    color: #123c69;
    padding: 200% 500%;
    text-align: center;
    font-size: 200%;
    margin: auto;
    opacity: .6;
    transition: 0.3s;
    display: inline-flex;
    text-decoration: none;
    cursor: pointer;
    width:100;
    border: 2px solid #4CAF50;
    border-radius: 50%;
    position: absolute;
    left: 500px;
}
.button1:hover {opacity: 1}

.orate-logo{
    position: relative;
    right: 100px;
    bottom: 25px;
    width: 50px;
    height: 50px;
}