
*{
   background-color: #edc7b7;
}

h1{
    font: tahoma;
    font-size: 20px;
}


.EnterNumber{
    width: 100%;
    margin: 0 auto;
    vertical-align: 0 auto;
    position: absolute;
    left: 10%;
    top: 300px;
   
}


button {
    border-radius: 4px;
    background-color: #5ca1e1;
    border: none;
    color: #fff;
    text-align: center;
    font-size: 32px;
    padding: 16px;
    width: 220px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 36px;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
    display:inline-block;

  }
  
  button{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  button:after {
    content: '»';
    position: absolute;
    opacity: 0;  
    top: 14px;
    right: -20px;
    transition: 0.5s;
  }
  
  button:hover{
    padding-right: 24px;
    padding-left:8px;
  }
  
  button:hover:after {
    opacity: 1;
    right: 10px;
  }

  input{
    background-color: white;
    padding: 10;
    border-bottom-color:'#000';
    margin:5;
    padding: 10px 20px;
    margin-right:50;
    border-bottom-width: 2;
    border: 0px;
    width: 70%;
    font-size: 500%;
}
